<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/global.css" />
  </head>
  <body>
    <main class="container">
      <section id="hero">
        <h1>Hola, soy <%= name %></h1>
        <p><%= role %></p>
      </section>

      <section id="projects">
        <h2>Proyectos</h2>
      </section>

      <section id="skills">
        <h2>Skills</h2>
      </section>

      <section id="contact">
        <h2>Contacto</h2>
      </section>
    </main>

    <script src="/js/main.js"></script>
  </body>
</html>
